#content {
	text-align: center;
}

#content h1 {
	color: white;
	font-family: 'Poppins';
	font-size: 25rem;
	margin-top: 200px;
	line-height: 0%;
}
#content p {
	color: white;
	font-family: 'Poppins Light';
	font-size: 20rem;
}

.button-download {
	margin-top: 10px;
	width: 270px;
	height: 100px;
	font-size: 30px;
	color: #000;
	background-color: rgba(128, 128, 128, 0.2);;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-family: 'Poppins' sans-serif;
	color: white;
	margin-bottom: 50px;
}

button:hover {
	background-color: #ea680a;
}